$ionicons-font-path: "../lib/ionic/fonts" !default;
$light:                           #fff !default;
$stable:                          #ffcb01 !default;
$positive:                        #353535 !default;
$calm:                            #353535 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$item-energized-text:			  #353535 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;