.item__logo {
	background-color: #ffffff;
	padding: $item-padding;	
	> img {
		max-width: 60%;
		display: block;
		margin: 0 auto;
	}
	
}

.item-button-right {
	
	.button.button-positive.button-clear {
		color: #ffffff;
	}
}

.item__content {
	padding: $content-padding;
}

.item__cover {

	min-height: 100px;
	background-size: cover;
	position: relative;

	> .item__name-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
a.item__cover {
	display: block;
}

.item-meta {
	font-size: 0.9em;
	
	button.button {
		

	}
}

.item-meta.item-button-right, .item-meta.item-button-left {

	> .buttons > .button {
		@extend .button-small;
	}
}

.item__time {
  font-size: 1.4em;
  font-weight: 400;
}

.item p, .item h2, .item h3, .item p, .item h2, .item h4 {
	white-space:normal;
}

.item__name-wrap {
	background-color: rgba(0,0,0,0.5);
	margin: 0;
}

.item__name-wrap--pad {
	padding: 10px;	
}
h3.item__name {
	padding: 3px 6px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1.06em;
    font-weight: bold;
}

.item-blocks {
	padding: $item-padding;
	@extend .item;
	@include clearfix();
}