<ion-view view-title="Eventos">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="filter()"><i class="icon ion-android-search"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
        <div ng-repeat="current in eventsPerDay">
        	<a class="item item-positive">
        	{{current.day}}
        	</a>
            <div ng-repeat="event in current.results" event-card event="event"></div>
            </div>
            <div ng-repeat-end=""></div>
        </div>
    </ion-content>
</ion-view>