<ion-view>
    <ion-nav-title>
        Evento
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ui-sref="event-update({id: event.id})">Editar</button>
    </ion-nav-buttons>
    <ion-content>
        <div style="background-image:url(https://codigo.ovh/cdn/main_22srTAcHetCNrqadskVB.png)" class="cover__wrapper">
            <div class="item__name-wrap item__name-wrap--pad">
                <h3 class="item__name" ng-bind="event.title"></h3>
            </div>
        </div>
        <a class="item item-icon-left resource-view__date" href="#">
            <i class="icon ion-android-calendar"></i>
            <span am-time-ago="event.doorTime"></span> - <span am-time-ago="event.endDate"></span>
            <span ng-repeat="name in event.tags" class="keyword" ng-bind="name"></span>
        </a>
        <div class="row">
            <a ng-click="shareFacebook()" class="col"><i class="icon ion-social-facebook"></i></a>
            <a ng-click="shareTwitter()" class="col"><i class="icon ion-social-twitter"></i></a>
            <a ng-click="shareEmail()" class="col"><i class="icon ion-social-email"></i></a>
        </div>
        <div class="cnt" ng-bind-html="event.content"></div>
        <div pi-facebook-comment page-href="{{event.url}}" numposts="5" colorscheme="light"></div>
    </ion-content>
</ion-view>