<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: http https blob:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="Sat, 31 Oct 2016 00:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" href="/img/favicon.ico?v=0.1">
    <title>Viseu App</title>
    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyCqpLBNB3zar4Spsus92OBGCfR5fy23vU0"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script type="text/javascript">
    var Connection = {};
    /*
    * Ionic Mocks */
    function mockWeb(){
        navigator.connection = {    
            type: 'WiFi connection'
        }
        Connection[Connection.UNKNOWN]  = 'Unknown connection';
        Connection[Connection.ETHERNET] = 'Ethernet connection';
        Connection[Connection.WIFI]     = 'WiFi connection';
        Connection[Connection.CELL_2G]  = 'Cell 2G connection';
        Connection[Connection.CELL_3G]  = 'Cell 3G connection';
        Connection[Connection.CELL_4G]  = 'Cell 4G connection';
        Connection[Connection.CELL]     = 'Cell generic connection';
        Connection[Connection.NONE]     = 'No network connection';
    }

    try {
        navigator.connection.type;
    }
    catch(err) {
        mockWeb();
    }
    </script>
    <script src="js/app.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/dependencies.js"></script>
    <div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=256560181215554";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</head>
<body ng-app="stuv">
<div style="/*position: relative; max-width: 400px; margin: 0 auto; min-height: 550px;*/">
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i>
              </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">viseu.ovh</h1>
        </ion-header-bar>
        <ion-content class="side-menu__content">
            <ion-list>
                <ion-item menu-close ui-sref="home" class="item item-icon-left item-stable">
                    <i class="icon ion-home"></i> Home
                </ion-item>
                <ion-item menu-close ui-sref="profile" class="item item-icon-left item-stable">
                    <i class="icon ion-person"></i> Perfil
                </ion-item>
                <ion-item menu-close ui-sref="bus-home" class="item item-icon-left item-stable">
                    <i class="icon ion-android-bus"></i> Autocarros
                </ion-item>
                <ion-item menu-close ui-sref="register-stop" class="item item-icon-left item-stable">
                    <i class="icon ion-android-stopwatch"></i> Registar Horário
                </ion-item>
                <ion-item menu-close ui-sref="event-list" class="item item-icon-left item-stable">
                    <i class="icon ion-calendar"></i> Eventos
                </ion-item>
                <ion-item menu-close ui-sref="tourism" class="item item-icon-left item-stable">
                    <i class="icon ion-map"></i> Turismo
                </ion-item>
                <ion-item menu-close ui-sref="place-list" class="item item-icon-left item-stable">
                    <i class="icon ion-wineglass"></i> Sitios
                </ion-item>
                <ion-item menu-close ui-sref="news-list" class="item item-icon-left item-stable">
                    <i class="icon ion-document-text"></i> Noticias
                </ion-item>
                <ion-item menu-close ui-sref="media" class="item item-icon-left item-stable">
                    <i class="icon ion-videocamera"></i> Media
                </ion-item>
                <ion-item menu-close ui-sref="webcam" class="item item-icon-left item-stable">
                    <i class="icon ion-camera"></i> Webcam Sé
                </ion-item>
                <ion-item menu-close ui-sref="roadmap" class="item item-icon-left item-stable">
                    <i class="icon ion-heart"></i> A App
                </ion-item>
                <ion-item menu-close ui-sref="support" class="item item-icon-left item-stable">
                    <i class="icon ion-help-circled"></i> Ajuda & Suporte
                </ion-item>
                <ion-item menu-close ui-sref="event-create" class="item item-icon-left item-stable">
                    <i class="icon ion-help-circled"></i> Criar Evento
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
</div>
<script type="text/ng-template" id="html/pi/comment-window.html">
    <h3>Comentários</h3>
    <div pi-comment-form></div>
    <div ng-repeat="comment in comments | reverse" pi-comment-message comment="comment"></div>
</script>
<script type="text/ng-template" id="html/pi/comment-form.html">
    <div class="fit-form" class="pi-comment-form">
        <form class="fit-form__group" ng-submit="send(message)">
            <textarea rows="4" ng-model="message" class="fit-form__group-control"></textarea>
    </div>
    <div class="fit-form__footer">
        <button type="button" ng-click="send(message)">Enviar Comentário</button>
    </div>
    </div>
</script>

<script type="text/ng-template" id="html/pi/comment-message.html">
    <div class="row">
        <div class="col">
            <i class="icon ion-like"></i> <span ng-bind="comment.author.displayName"></span> 
        </div>
        <div class="col">
            <a class="comment-message__author" ui-sref="profile.home({id: comment.author.id})">
                <img class="comment-message__author-img" ng-src="/uploads/user/default.jpg" />
            </a>
        </div>
        <div class="col col-right">
            <span ng-bind="comment.created"></span>
        </div>
    </div>  
    <div ng-bind="comment.message"></div>
</script>
<script type="text/ng-template" id="html/pi/likes.tpl.html">
    <button ng-click="ctrl.like()"><i class="icon ion-thumbsup"></i> <span ng-bind="ctrl.users.length"></span> gosto</button>
    <div ng-if="ctrl.users.length === 0">Não há nenhum gosto.</div>
</script>
<script type="text/ng-template" id="html/upload-thumbnail.html">
      <div class="upload-thumbnail__btn" ngf-select ngf-change="upload($files)">
          <div>Upload Foto</div>
          <img ng-src="{{thumbnailSrc}}">
          <div ng-show="uploadProgress > 0 && uploadProgress < 100">
              A enviar... <!--{{ctrl.uploadProgress}} %-->
          </div>
      </div>
</script>
 <script id="core/wizard.tpl.html" type="text/ng-template"> 
      <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-clear no-animation"
                  ui-sref="home" ng-show="!slideIndex">
            Saltar Introdução
          </button>
          <button class="button  button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Anterior
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Próximo
          </button>
          <button class="button button-clear no-animation"
                  ui-sref="home" ng-show="slideIndex == 2">
            Usar a App
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>Obrigado pela confiança!</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              Tudo isto é opensource
            </p>
            <p>
              Desfruta <i class="icon ion-hear"></i>
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Tudo resumindo</h3>
            
            <div id="list">
              <h5>A tua App:</h5>
              <ol>
                <li>Consumir</li>
                <li>Publicar</li>
                <li>Avaliar</li>
              </ol>
              <ol>
                <li>Eventos</li>
                <li>Notícias</li>
              </ol>
              
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Alguma questão?</h3>
            <p>
              <button class="button button-block"><i class="icon ion-help">Ajuda</i></button>
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>
</body>
</html>
