<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Horários STUV</title>
    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/dependencies.js"></script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=256560181215554";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body ng-app="stuv">
<div style="position: relative; max-width: 400px; margin: 0 auto; min-height: 550px;">
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i>
              </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">viseu.ovh</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ui-sref="home" class="item item-icon-left">
                    <i class="icon ion-home"></i> Inicio
                </ion-item>
                <ion-item menu-close ui-sref="bus-home" class="item item-icon-left">
                    <i class="icon ion-android-bus"></i> Autocarros
                </ion-item>
                <ion-item menu-close ui-sref="event-list" class="item item-icon-left">
                    <i class="icon ion-wineglass"></i> Eventos
                </ion-item>
                <ion-item menu-close ui-sref="news-list" class="item item-icon-left">
                    <i class="icon ion-document-text"></i> Noticias
                </ion-item>
                <ion-item menu-close ui-sref="webcam" class="item item-icon-left">
                    <i class="icon ion-camera"></i> Webcam Sé
                </ion-item>
                <ion-item menu-close ui-sref="support" class="item item-icon-left">
                    <i class="icon ion-help-circled"></i> Ajuda & Suporte
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
</div>
<script type="text/ng-template" id="html/pi/comment-window.html">
    <h3>Comentários</h3>
    <div pi-comment-form></div>
    <div ng-repeat="comment in comments | reverse" pi-comment-message comment="comment"></div>
</script>
<script type="text/ng-template" id="html/pi/comment-form.html">
    <div class="fit-form" class="pi-comment-form">
        <form class="fit-form__group" ng-submit="send(message)">
            <textarea rows="4" ng-model="message" class="fit-form__group-control"></textarea>
    </div>
    <div class="fit-form__footer">
        <button type="button" ng-click="send(message)">Enviar Comentário</button>
    </div>
    </div>
</script>

<script type="text/ng-template" id="html/pi/comment-message.html">
    <div class="comment-message">
        <a class="comment-message__author" ui-sref="profile.home({id: comment.author.id})">
            <img class="comment-message__author-img" ng-src="/uploads/user/default.jpg" />
        </a>
        <div class="comment-message__body">
            <div><span ng-bind="comment.author.displayName"></span><span class="comment-message__created" ng-bind="comment.created"></span></div>
            <!--<div>aqui metiamos a sport phrase dele</div>-->
            <div ng-bind="comment.message"></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="html/pi/likes.tpl.html">
    <button ng-click="ctrl.like()"><i class="icon ion-thumbsup"></i> <span ng-bind="ctrl.users.length"></span> gosto</button>
    <div ng-if="ctrl.users.length === 0">Não há nenhum gosto.</div>
</script>
<script type="text/ng-template" id="html/upload-thumbnail.html">
      <div class="upload-thumbnail__btn" ngf-select ngf-change="upload($files)">
          <div>Upload Foto</div>
          <img ng-src="{{thumbnailSrc}}">
          <div ng-show="uploadProgress > 0 && uploadProgress < 100">
              A enviar... <!--{{ctrl.uploadProgress}} %-->
          </div>
      </div>
</script>
</body>
</html>
