<ion-view view-title="Noticias">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="filter()"><i class="icon ion-android-search"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="padding" ng-show="queryModel.noResult === true">
                <p>Nao foram encontrados resultados.</p>
                <p ng-show="query.model.text!==''">Tenta pesquisar com outras palavras sem ser "<b ng-bind="queryModel.text"></b>"</p>
                <button class="button button-block button-positive" ng-click="clearText()">limpa a pesquisa</button>
            </div>
            <div ng-repeat-start="current in queryModel.data">
                <a class="item item-positive">
                <span am-time-ago="current.day"></span> <small class="pull-right">{{current.day}}</small>
                </a>
                <a news-card article="article" ng-repeat="article in current.results" class="item item-thumbnail-left" href="" ui-sref="news-view({id: article.id})" >
                    
                </a>
            </div>
            <div ng-repeat-end=""></div>
        </div>
    </ion-content>
</ion-view>